
language: java

env:
  global:
    - TMPDIR=/tmp

jdk:
  - oraclejdk8

python:
 - 2.7

install:
  - export JPF_TRAVIS=$(pwd)/jpf-travis
  - mkdir -p $JPF_TRAVIS
  - wget --output-document=jpf-travis.tar.gz https://www.dropbox.com/s/vjqfokrldjv0mro/jpf-travis.tar.gz?dl=1;
  - tar xvf jpf-travis.tar.gz --strip-components=1 -C $JPF_TRAVIS;
  - ls $JPF_TRAVIS
  - cd $JPF_TRAVIS
  - export JPF_CORE=$(pwd)/jpf-core
  - mkdir -p $JPF_CORE
  - tar xvf jpf-core.tar.gz --strip-components=1 -C $JPF_CORE;
  - ls .
  - ls .jpf
  - mv .jpf $TRAVIS_BUILD_DIR

before_install:
   - echo "Running the experiments."
   - pwd
   - export LD_LIBRARY_PATH=$(pwd)/jayhorn/native_lib

script:   
   - ./run_jayhorn.sh

after_success:
   - echo "All done."
